/*記事のスタイル*/

.title {
    font-size: 32px;
    font-weight: 500;
    margin-left: 10px;
}

.sub-title {
    font-size: 24px;
    margin-left: 10px;
}

.headline-title {
    font-size: 28px;
    margin: 10px;
}

.headline-title * {
    display: inline-block;
}

.headline-title label {
    font-size: 16px;
    cursor: pointer;
}

/*目次格納関連*/

#fold-TOC:checked~.headline li {
    opacity: 0;
    height: 0;
}

#fold-TOC:checked~.headline {
    padding: 0;
    border-top-color: transparent;
}

#fold-TOC:checked~.headline-title #hide-TOC {
    display: none;
}

#show-TOC {
    display: none;
}

#fold-TOC:checked~.headline-title #show-TOC {
    display: inline-block;
}

/*----------------------*/

.headline {
    border-top: 1px solid #00000023;
    border-bottom: 1px solid #00000023;
    padding: 10px;
    margin: 10px;
}

.headline {
    transition: all .5s cubic-bezier(1, 0, 0, 1);
}

.headline li {
    transition: all .5s cubic-bezier(1, 0, 0, 1);
    height: 30px;
}

.headline a {
    text-decoration: none;
}

.headline a:hover {
    color: #333;
}

.article-desc-wrap {
    display: flex;
    width: fit-content;
    margin: 0 0 0 auto;
}

.article-desc * {
    display: inline-block;
}

.article-desc i {
    margin-left: 10px;
}

.tag-area p {
    margin-top: 5px;
}

.article.main {
    margin-top: 50px;
}

.article p, .article h1, .article h2, .article h3, .article ul {
    margin-bottom: 30px;
}

.article p {
    line-height: 30px;
    margin-bottom: 30px;
}

.article a::before {
    content: '\f35d';
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    padding-right: 5px;
}

.article h1 {
    font-size: 26px;
    border-bottom: 1px solid #00000050;
    border-left: 5px solid #333;
    padding-left: 15px;
    font-weight: 400;
    margin: 20px auto;
}

.article h2 {
    font-size: 20px;
    border-left: 5px solid #333;
    padding-left: 15px;
    font-weight: 400;
    margin: 20px auto;
}

.article h3 {
    font-size: 18px;
    font-weight: 400;
    margin: 20px auto;
}

.article h3::before {
    content: '\f13a';
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    padding-right: 5px;
}

code {
    background: #1e1e1e;
    border-radius: 5px;
    box-shadow: 0 10px 10px 0 #00000023;
    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
    color: #ccc;
    padding: 0.5em;
    width: 100%;
}

.article :not(pre)>code {
    width: fit-content;
    padding: 0 5px;
}

blockquote {
    background: #efefef;
    padding: 10px;
    border-radius: 5px;
    border-left: 5px solid #00000023;
    box-shadow: 0 5px 10px 0 #00000023;
}

blockquote::before {
    content: '\f10d';
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}

.article img {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    display: block;
    margin: auto;
}