.calendar {
    position: relative;
    width: fit-content;
}

.calendar-header {
    height: 50px;
}
.calendar-header button {
    position: absolute;
    font-size: 20px;
    top: 15px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.calendar-header button.flip-calendar.next {
    right: 10px;
}

.calendar-header button.flip-calendar.previous {
    left: 10px;
}

.calendar-header h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
}

.calendar-header button:focus {
    outline: none;
    background: #00000023;
}

.calendar-days{
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-template-rows: repeat(auto-fill, 50px);
    width: 350px;
}

.calendar-days.day {
    grid-template-rows: repeat(auto-fill, 29px);
    border-bottom: 1px solid #00000050;
}

.calendar-days button{
    font-size: 20px;
    width: 40px;
    height: 40px;
    margin: 5px;
    text-align: center;
}

.calendar-days button:hover:not(:disabled) {
    background: #00000023;
}

.calendar-days p {
    font-size: 20px;
    height: 30px;
    text-align: center;
}

.calendar-days button {
    border: none;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}

.calendar-days button.active {
    background: #47cf73;
}

.calendar-days button:disabled {
    color: #00000050;
    cursor: default;
}

@media(max-width:400px){
    .calendar-days{
        grid-template-columns: repeat(auto-fill, 40px);
        grid-template-rows: repeat(auto-fill, 40px);
        width: 280px;
    }
    
    .calendar-days.day {
        grid-template-rows: repeat(auto-fill, 29px);
        border-bottom: 1px solid #00000050;
    }
    
    .calendar-days button{
        width: 30px;
        height: 30px;

    }
}