/*Type 1*/

.toggle-switch-wrap {
    margin: auto;
    position: relative;
    width: 60px;
    height: 20px;
}

.toggle-switch-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all .25s .4s ease;
    background: #00000030;
    cursor: pointer;
}

.toggle-switch {
    position: absolute;
    left: 0;
    margin: 2px;
    height: 16px;
    width: 30px;
    border-radius: 8px;
    background: #f7f7f7;
    transition: all .25s cubic-bezier(0.24, 1.14, 0.71, 0.23);
    cursor: pointer;
    z-index: 1;
}

.toggle-switch-cb {
    opacity: 0;
    position: absolute;
}

input[type=checkbox]:checked~.toggle-switch {
    left: calc(50% - 4px);
    background: #f5f5f5;
}

input[type=checkbox]:checked~.toggle-switch-bg {
    background: #55c500;
    box-shadow: 0 0 10px 2px #55c50030;
}

/*Type 2*/

.radio-wrap {
    width: fit-content;
    display: flex;
    margin: 0 20px;
}

.radio-bg {
    display: inline-block;
    height: 20px;
    width: 20px;
    background: transparent;
    outline: 2px solid #00000023;
    -webkit-transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.radio-text {
    line-height: 20px;
    padding-left: 10px;
    position: relative;
    display: inline-block;
    width: max-content;
    cursor: pointer;
}

input[type=radio]:checked~.radio-bg, input[type=checkbox]:checked~.radio-bg {
    background: #55c500;
    outline: none;
}

input[type=radio]:focus~.radio-bg, input[type=checkbox]:focus~.radio-bg {
    outline: 2px solid #000000aa;
}