.block h1 {
    font-weight: normal;
    font-size: 25px;
    color: #000;
}

.block .title {
    margin-left: 10px;
    padding-left: 10px;
    border-left: solid 4px #333;
}

.item-area {
    display: grid;
    position: relative;
    margin: 0;
    grid-template-columns: repeat(auto-fill, 450px);
    height: auto;
    justify-content: center;
    transition: all.5s ease;
}

.item {
    display: inline-block;
    position: relative;
    margin: 10px;
    width: calc(100% - 20px);
    height: fit-content;
    background: #fff;
    box-shadow: 0 5px 15px 0 #00000023;
}

.item img {
    object-fit: cover;
    width: 100%;
    height: 160px;
}

.title-area {
    height: fit-content;
    display: flex;
}

.title-area a {
    margin: auto auto auto 10px;
}

.item a {
    color: #333;
    text-decoration: none;
}

.item h1 {
    font-weight: normal;
    font-size: 25px;
}

.item input {
    display: none;
}

.btn-quick-view {
    display: inline-block;
    position: relative;
    margin: 0 45px 0 auto;
    font-size: 30px;
    width: 30px;
    cursor: pointer;
}

.btn-quick-view i {
    transition: all .5s cubic-bezier(1, 0, 0, 1);
}

.btn-quick-view::before {
    content: 'Quick View';
    font-size: 12px;
    position: absolute;
    text-align:center;
    width: 35px;
    right: -35px;
    top: 6px;
}

.content {
    margin: 10px;
}

.content p {
    margin-top: 5px;
}

.content p.place::before {
    content: '場所: ';
}

.quick-view {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    opacity: 0;
    background: #fff;
    transition: all .5s cubic-bezier(1, 0, 0, 1);
}

.quickview:checked~.quick-view {
    opacity: 1;
    height: 44px;
    box-shadow: 0 15px 15px 0 #00000023;
}

.quickview:checked~.title-area .btn-quick-view i {
    transform: rotate(180deg);
}

.quick-view-item {
    display: flex;
}

.quick-view-item a {
    margin: 10px;
    display: inline-block;
}

.quick-view-item i {
    margin: 10px 10px 10px auto;
}

@media(max-width:450px) {
    .item-area {
        grid-template-columns: repeat(auto-fill, 380px);
    }
}