* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    font-family: 'Economica', "ヒラギノ明朝 ProN W6", sans-serif;
    background: #f5f5f7;
  }
  
.info{
    margin: auto auto auto 10px;
    line-height: 20px;
}

.block{
    display: flex;
    margin: 20px;
    height: min-content;
    background: #fff;
    color: #000;
    box-shadow: 0 5px 15px #00000023;
}
.block h1, .block p{
    font-family: "ヒラギノ明朝 ProN W6", sans-serif;
    margin: 10px 0;
}
.block h1{
    font-weight: normal;
    font-size: 25px;
    color: #000;
}
.block img{
    width: 20%;
    height: auto;
    object-fit: cover;
}

.block .title{
    margin-left: 10px;
    padding-left: 10px;
    border-left: solid 4px #333;
}

.content{
    padding: 0 0 0 20px ;
    margin: auto auto auto 0;
}

.content h2{
    font-size:20px;
    margin: 10px 0;
    font-weight: normal;
}
.content h2:before{
    content: '';
    position: relative;
    bottom: -29px;
    left: 0;
    display: block;
    width: 50px;
    height: 4px;
    background: #000;
}
.content h2::after{
    content: '';
    position: relative;
    bottom: -4px;
    left: 0;
    display: block;
    width: 200px;
    height: 1px;
    background: #000;
}

.calendar-container{
    margin: auto 0 auto auto;
}

.btn_see_backnum{
    display: block;
    width: max-content;
    margin: 20px auto;
    font-size: 20px;
    background: #000;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.25s ease;
}
.btn_see_backnum:hover{
    background: #47cf73;
    outline-offset: -1px;
    color: #000000;
    box-shadow: 0 15px 10px 5px  #00000023;
}