    .main {
        margin: 10px;
    }
    
    .block-wrap {
        display: flex;
    }
    
    .block {
        position: relative;
        background: #fff;
        box-shadow: 0 10px 5px 0 #00000023;
        padding: 10px;
        min-height: 1335px;
        width: 100%;
        z-index: 1;
    }
    
    .tab-area {
        margin: 0 0 0 auto;
        width: fit-content;
        display: flex;
    }
    
    .tab-area label {
        position: relative;
        background: #fff;
        width: fit-content;
        height: fit-content;
        padding: 5px 10px 10px;
        margin-left: 5px;
        font-size: 22px;
        cursor: pointer;
        z-index: 1;
        box-shadow: 0 0 10px 0 #00000023;
    }
    
    .markdown {
        position: relative;
        text-align: right;
        margin: 0 0 0 auto;
        top: 4px;
    }
    
    .markdown button {
        background: transparent;
        width: 35px;
        height: 30px;
        font-size: 18px;
        border: none;
        cursor: pointer;
    }
    
    .markdown button:focus {
        outline: none;
    }
    
    .markdown button:hover {
        background: #00000023;
    }
    /*編集、プレビュー表示切替*/
    
    input[name='display-type'] {
        display: none;
    }
    
    #edit:checked~.tab-area #tab-preview,
    #preview:checked~.tab-area #tab-edit {
        background: #efefef;
        box-shadow: none;
        z-index: 0;
    }
    
    #edit:checked~.block-wrap .block.preview,
    #preview:checked~.block-wrap .block.compose {
        display: none;
    }
    
    #both:checked~.tab-area #tab-edit,
    #both:checked~.tab-area #tab-preview {
        padding-bottom: 5px;
    }
    
    #both:checked~.block-wrap .block {
        display: inline-block;
        width: calc(50% - 2px);
    }
    
    #both:checked~.block-wrap .block.preview {
        display: inline-block;
        margin-left: 4px;
        overflow-y: auto;
        height: 1300px;
    }
    
    @media(max-width: 900px) {
        /* #tab-both {
            display: none;
        } */
    }